fastapi >= 0.111.0
openai >= 1.35.3
pydantic==2.7.4
uvicorn[standard] >= 0.30.1
python-dotenv >= 1.0.1
langchain >= 0.2.5
langchain-community >= 0.2.5
python-multipart >= 0.0.9
pypdf >= 4.2.0
starlette~=0.37.2
langchain-postgres >= 0.0.9
psycopg2 >= 2.9.9
langchain-openai >= 0.1.9
pyjwt[crypto] >= 2.9.0
ldap3 >= 2.9.1
langchain-core >= 0.2.35
pypandoc >= 1.13