fastapi >= 0.115.8
langchain-openai >=0.3.7
pydantic>= 2.10.6
uvicorn[standard] >= 0.34.0
python-dotenv >= 1.0.1
langchain >= 0.3.19
langchain-community >= 0.3.18
python-multipart >= 0.0.20
langchain_text_splitters >= 0.3.6
pypdf >= 5.3.0
starlette>= 0.45.3
langchain-postgres >= 0.0.13
langchain-openai >= 0.3.5
pyjwt[crypto] >= 2.10.1
ldap3 >= 2.9.1
langchain-core >= 0.3.40
duckduckgo-search >= 7.3.2
pycryptodome >= 3.21.0
pyotp >= 2.9.0
qrcode[pil] >=8.0
Pillow >= 11.1.0
sqlalchemy >= 2.0.38
psycopg2 >= 2.9.10
pytz >= 2025.1